h1{
margin: 8px 0;
}

.spacer {
flex: 1;
}

.main {
    width: 70%;
    margin: auto;
}

.toolbar {
margin: auto;
display: flex;
align-items: center;
background-color: #5c639e;
color: white;
padding: 15px;
}

.bottone_add {
background-color: green;
color: #fff;
margin-left: 1%;
}

.bottone_delete{
background-color: red;
color: #fff;
}